<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RL.Properties.Settings>
            <setting name="Enemy_Color" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="Team_Color" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="Key_Show_MENU" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="SNAPLINE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ESP_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="SNAPLINE_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ESP_Size" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SNAPLINE_Size" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ESP_Form" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ESP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SNAPLINE_Starting_Point" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OVERLAY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AIM_Key" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="Show_DISTANCE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AIMBOT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_Background_Color" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="AIM_Auto_Fire" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CROSSHAIR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CROSSHAIR_Size" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CROSSHAIR_Thickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CROSSHAIR_Color" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="AIMOT_Target" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AIMBOT_Acceleration" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Aim_FOV" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Draw_Aim_Fov" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Active_Func_Key" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Default_Fore_Color" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Show_FPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VSAT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show_Allies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show_Name" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VSYNC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Aim_Filter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AIMBOT_FOV_Color" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="ESP_VISIBLE_TEXT" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ESP_SIZE_TEXT" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ESP_FILLED_BORDER_COLOR" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="ESP_ALLIES_COLOR" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Profiles" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Show_PING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show_Text_Border" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_Color" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="Normal_Color" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="Menu_Border_Color" serializeAs="String">
                <value>250, 120, 0</value>
            </setting>
            <setting name="FPS_CORNER" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AUTO_FIRE_MS" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Player_Name_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Player_Ping_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Menu_Opacity" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="FontText" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="ControllerButtonAIMBOT" serializeAs="String">
                <value>R2</value>
            </setting>
            <setting name="ControllerToggleAIMBOT" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="ControllerToggleESP" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="ControllerToggleSNAPLINE" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="ControllerToggleVSAT" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="ControllerAIMBOTButtonPressed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextAntiAliasing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerToggleCROSSHAIR" serializeAs="String">
                <value>SELECT</value>
            </setting>
            <setting name="Draw_Enemy_Close" serializeAs="String">
                <value>False</value>
            </setting>
        </RL.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
